*.dev.saltana.com {
	tls {
		issuer zerossl e5146f5e6fbab517b361cdc06f789328
		on_demand
	}
	reverse_proxy localhost:3000
}
dev.saltana.com {
	tls {
		issuer zerossl e5146f5e6fbab517b361cdc06f789328
	}
	reverse_proxy localhost:3000
}

code.dev.saltana.com {
        tls {
                issuer zerossl e5146f5e6fbab517b361cdc06f789328
        }
	reverse_proxy localhost:8080
}

api.dev.saltana.com {
	tls {
		issuer zerossl e5146f5e6fbab517b361cdc06f789328
	}
	reverse_proxy localhost:4100
}
