@import "./fonts.theme.scss";

.wrapper {
  @extend .fontElementMap !optional;
}

.editor {}

.atomic {
  margin: 15px 0;
}

.toolbar {}

.block {}

.text {}

.quote {}

.headerOne {}

.headerTwo {}

.headerThree {}

.orderedList {
  line-height: 1.5;
}

.unorderedList {
  line-height: 1.3;
}

.code {}

.codeBlock {}

.desktop {}

.elementSpacing {}

.blockStyleSpacing {}

.left {}

.center {}

.right {}

.justify {}

:global(.public-DraftStyleDefault-ul) {}

:global(.public-DraftStyleDefault-ol) {}
