/* Toolbar */
.inlineToolbar {
  // border: none;
  // border-radius: 0;
  // background: #000;
  // color: #fff;
}

.inlineToolbar_buttons {
}

.inlineToolbar_extend {
}

.inlineToolbar_overrideContent {
}

.inlineToolbar_responsiveArrow {
}

.inlineToolbar_responsiveArrowStart {
}

.inlineToolbar_responsiveArrowEnd {
}

/* Button */
.inlineToolbarButton_wrapper {
}

.inlineToolbarButton {
}

.inlineToolbarButton_wrapper:hover .inlineToolbarButton_icon {
  color: #ED24D9; 
}

.inlineToolbarButton_active {
  color: #ED24D9;
}

.inlineToolbarSeparator {
  background-color: chartreuse;
}

/* Dropdown */
.inlineToolbarDropdown_wrapper {
}

.inlineToolbarDropdownButton_wrapper:hover {
  .inlineToolbarDropdownButton_icon, 
  .inlineToolbarButton_menuButton {
    color: cyan;
  }
}

.inlineToolbarDropdownButton_active {
  color: cyan;
}

.inlineToolbarDropdownButton_wrapper:hover .inlineToolbarButton_active {
  color: cyan;
}
.inlineToolbarDropdown_options {
}

.inlineToolbarDropdownButton_wrapper {
}

.inlineToolbarDropdownButton {
}

.inlineToolbarDropdownButton_icon {
}
