$headerHeight: 42px;
$iconSize: 20px;
$borderRadius: 4px;
$transitionLength: 0.3s;
$primaryColor: #f9f9f9;
$secondaryColor: rgba(51, 51, 51, 0.1);
$iconColor: black;
$active: #0461ff;
$hoverBackground: rgba(18, 107, 255, 0.1);

@mixin mobile {
  @media only screen and (max-width: 640px) {
    @content;
  }
}

html,
body {
  height: 100% !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  svg {
    fill: currentColor;
  }

  #root {
    height: 100%;

    .rtf--mb__c {
      //fix the fab button so it doesn't conflict with the imageEditor save button'
      padding-left: 0;
    }
    .toolbar {
      height: 36px;
      background: white;
      position: absolute;
      top: -40px;
      right: 50px;
      border-radius: 2px;
      border: solid 1px $secondaryColor;
    }

    .wrapper {
      height: 100%;

      .container {
        .empty-state {
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
          width: 100%;
          font-size: 32pt;
          background: #ddd;
          text-align: center;
          font-weight: 300;
        }

        .section {
          .placeholder {
            text-align: center;
            margin-top: 25px;
            font-size: 16pt;

            @include mobile {
              margin-top: 62px;
            }
          }

          .header {
            width: 100%;
            z-index: 1;
            display: flex;
            justify-content: space-between;
            background: $primaryColor;
            color: black;

            .title {
              display: flex;
              padding: 10px 0 10px 10px;

              svg {
                padding-right: 6px;
                position: relative;
                top: 2px;
                cursor: pointer;
                color: $iconColor;
                width: $iconSize;
                height: $iconSize;

                &:hover {
                  color: #ccc;
                }
              }

              h3 {
                margin: 0;
                padding-left: 3px;
              }
            }

            .settings {
              position: relative;
              cursor: pointer;
              padding-right: 10px;

              svg {
                color: $active;
                width: $iconSize;
                height: $iconSize;
                margin-top: 12px;

                &:hover {
                  color: rgba(18, 107, 255, 0.8);
                }
              }

              &:hover {
                .dropdown {
                  visibility: visible;
                  opacity: 1;
                }
              }

              .dropdown {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: $headerHeight;
                right: 5px;
                background: #ffffff;
                transition: all $transitionLength ease;
                z-index: 3;
                padding: 12px 0 12px 0;
                border: solid 1px $secondaryColor;

                ul {
                  margin: 0;
                  padding: 0;
                  list-style: none;
                  background-color: white;

                  li {
                    position: relative;
                    white-space: nowrap;
                    padding: 8px 10px;

                    &:hover:not(.experimentContainer) {
                      color: $active;
                      background: $hoverBackground;

                      & > ul {
                        visibility: visible;
                        opacity: 1;
                      }

                      &:last-child {
                        border-radius: 0 0 $borderRadius $borderRadius;
                      }
                    }

                    &:last-child {
                      border-radius: 0 0 $borderRadius $borderRadius;
                    }

                    &.active {
                      color: $active;
                    }

                    ul {
                      position: absolute;
                      top: 0;
                      right: 100%;
                      overflow: auto;
                      visibility: hidden;
                      opacity: 0;
                      max-height: 230px;
                      transition: all $transitionLength ease;
                      border: solid 1px $secondaryColor;
                      color: black;

                      &:hover {
                        visibility: visible;
                        opacity: 1;
                      }
                    }
                    .experiment,
                    .paletteContainer,
                    .fontContainer {
                      background-color: $primaryColor;
                      border: solid 1px $secondaryColor;
                      padding: 6px;
                    }
                    .experimentContainer {
                      display: flex;
                      cursor: default !important;
                      .experiment {
                        width: 100%;
                        .scope {
                          font-size: 12px;
                        }
                        .experimentTitle {
                          font-size: 14px;
                        }
                        .options {
                          display: grid;
                          grid-column: 100%;
                          grid-auto-flow: column;
                          padding-top: 9px;
                          .option {
                            font-size: 12px;
                            text-align: center;
                            border: solid 1px $secondaryColor;
                            background-color: #ffffff;
                            padding: 6px 8px;
                            cursor: pointer;
                            &:hover,
                            &.active {
                              cursor: pointer;
                              color: $active;
                              background: $hoverBackground;
                            }
                          }
                        }
                      }
                    }

                    .paletteContainer {
                      margin: 12px;
                      font-size: 12px;
                      display: grid;
                      grid-template-columns: auto auto;
                      grid-template-rows: auto auto;
                      grid-column-gap: 3px;
                      .actionColor {
                        width: 36px;
                        height: 36px;
                        border-radius: 4.4px;
                        border: solid 1.1px rgba(43, 129, 203, 0.24);
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        grid-row: span 2;
                        svg {
                          color: white;
                        }
                      }
                      .palette {
                        display: grid;
                        grid-template-columns: auto auto auto;
                        border: solid 1px $secondaryColor;
                        width: 140px;
                        height: 13px;
                      }
                    }
                  }
                  .fontContainer {
                    margin: 12px;
                  }
                }
              }
            }
          }

          .content {
            position: relative;
            // top: $headerHeight;
            height: calc(100% - #{$headerHeight});
            padding-bottom: 10px;

            .editor {
              display: flex;
              flex-direction: column;

              > div {
                display: flex;
                flex-direction: column;
                flex: 1;

                > div:last-child {
                  display: flex;
                  flex-direction: column;
                  flex: 1;
                }

                @include mobile {
                  display: block;
                  flex: 0;
                }
              }

              .DraftEditor-root {
                display: flex;
                flex-direction: column;
                flex: 1;

                .DraftEditor-editorContainer {
                  flex: 1;
                  display: flex;
                  flex-direction: column;

                  > div:first-child {
                    flex: 1;
                  }

                  @include mobile {
                    padding: 0;
                  }
                }
              }

              .ricos-editor-modal {
                position: absolute;
              }
            }

            .editor,
            .viewer {
              padding: 10px 50px 0;
              background-color: var(--ricos-background-color, unset);
              min-height: 100%;

              @include mobile {
                padding: 0;
              }
            }
          }
        }

        .splitter {
          cursor: column-resize;
          z-index: 5;
          width: 1px;
          background: rgba(51, 51, 51, 0.2);
          border-right: 1px solid $primaryColor;
          border-left: 1px solid $primaryColor;
        }
      }
    }

    .DraftEditor-root,
    div[class^='rich-content-viewer__wrapper'] {
      overflow: visible;

      @include mobile {
        top: 0;
        padding: 18px;
        .inner-rce .DraftEditor-root {
          padding: 0px;
        }
      }
    }
  }
}

.content-preview {
  background: #eff;
  border: 1px solid #eee;
}
