.toolbar {
  display: flex;
  height: 36px;

  button,
  label {
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    height: 36px;
    opacity: 1 !important;
    display: flex;
    align-items: center;
    justify-content: center;

    &:disabled {
      color: graytext;
    }

    > div {
      display: flex;
      align-items: center;

      > span {
        display: flex;
        align-items: center;
      }
    }
  }

  & > button,
  label {
    width: 40px;
  }

  label {
    text-align: center;
  }
}
